In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
plt.style.use('seaborn')
%matplotlib inline 

import folium
from folium import plugins

sns.set()

In [2]:
df = pd.read_csv('kc_house_data.csv')

In [3]:
df_lat_long = df[['lat', 'long']]
df_lat_long.head()
df_lat_long.dtypes

lat     float64
long    float64
dtype: object

In [4]:
m = folium.Map([47.5112, -122.257], zoom_start=11)
m

In [5]:
# mark each station as a point

# for index, row in df.iterrows():
#     folium.CircleMarker([row['lat'], row['long']],
#                         radius=1,
#                         fill_color="#000000",
#                         fill=True# divvy color
#                        ).add_to(m)
# m.save('map.html')

#for index, row in df.iterrows():
    #folium.CircleMarker([row['lat'], row['long']],radius=2,fill_color="red").add_to(m)


# homes = df_lat_long[['lat', 'long']].as_matrix()
# m.add_child(plugins.HeatMap(homes, radius=1))
#m.save('map_2.html')

In [6]:
# for index, row in df.iterrows():
#     folium.CircleMarker([row['lat'], row['long']],
#                         radius=3,
#                         color= 'red',
#                         fill=False
#                        ).add_to(m)
# m.save('1map.html')

In [7]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [8]:
df1 = df[df['price'] < 4500000]
df2 = df[df['price'] >= 4500000]
# df_q2 = df[df['price'] < 450000]
# df_q2 = df_q2.drop(['price'] < 350000 , axis=0)

df3 = df[df['price'] < 1500000]
df4 = df[df['price'] >= 1500000]

## Color map of lat vs long ... location divided by the mean

In [9]:

for index, row in df1.iterrows():
    folium.CircleMarker([row['lat'], row['long']],
                        radius=1,
                        color='green',
                        fill=True
                       ).add_to(m)
    

for index, row in df2.iterrows():
    folium.CircleMarker([row['lat'], row['long']],
                        radius=2,
                        color='red',
                        fill=True
                       ).add_to(m)

m.save('color_map2.html')

In [10]:
# #used home price below 1.5mil
# for index, row in df3.iterrows():
#     folium.CircleMarker([row['lat'], row['long']],
#                         radius=1,
#                         color='blue',
#                         fill=True
#                        ).add_to(m)
    
# #used home price above 1.5mil
# for index, row in df4.iterrows():
#     folium.CircleMarker([row['lat'], row['long']],
#                         radius=1,
#                         color='yellow',
#                         fill=True
#                        ).add_to(m)

# m.save('color_map.html')

In [11]:
df.price()

TypeError: 'Series' object is not callable

In [ ]:

df.head()

plt.scatter('price', '')

In [ ]:
y = df['price']
x = df['sqft_living']


plt.scatter(x, y,  alpha=0.5)
plt.title('Price vs. Sqft_living')
plt.ylabel('Price')
plt.xlabel('Sqft_living')

## Joint plot ('Sqft Living vs. Price')

In [ ]:
sns.jointplot(x = 'sqft_living', y= 'price', data = df, kind= 'reg' ,label= 'sqft_living')
    
plt.legend()
plt.show()
plt.title('Sqft Living vs. Price')

## Scatter Plot Grade vs Price

In [ ]:
plt.scatter(df.grade, df.price, color= 'green' )
plt.title('Grade vs Price')
plt.xlabel('Grade')
plt.ylabel('Price')

In [ ]:
df.describe()

## SNS Scatter Plot Grade vs Price

In [ ]:
sns.set(style="whitegrid")



# Draw a scatter plot while assigning point colors and sizes to different
# variables in the dataset
f, ax = plt.subplots(figsize=(6.5, 6.5))
sns.despine(f, left=True, bottom=True)
grade = ["3", "4", "5", "6", "7", "8", "9", "10", '11', '12', '13']
sns.scatterplot(x="grade", y="price",
                
                palette="ch:r=-.2,d=.3_r",
                hue_order=grade,
                sizes=(1, 8), linewidth=0,
                data=df, ax=ax)

In [13]:
print(len(df.columns))

21